<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webtoon.semi.mapper.LoginMapper">


	<select id="getLogin" resultType="webtoon.semi.dto.Member"
		parameterType="java.util.Map">
		
		SELECT * FROM LOGIN
		WHERE login_id = #{login_id}
		AND login_pw = #{login_pw}
		
	</select>
</mapper>